@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}

.name__page img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
   
  }

body{
    margin-left: 80px;
    margin-top: 80px;
    transition: margin-left 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

main{
    padding: 20px;
}

header{
    width: 100%;
    height: 80px;
    background: #164773;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 200;
}
header a{
    position: relative;
    left: 480px;
    cursor: pointer;
}
.icon__menu h1{
    text-align: center;
    font-size: 50px;
    left: 1100%;
    position: absolute;
}

.icon__menu{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: space;
    align-items: center;
    transform: translateX(10px);
    color: #fff;
}

.icon__menu i{
    margin-left: 20px;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu__side{
    width: 80px;
    height: 100%;
    background: rgba(60, 60, 60);
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 300;
    overflow: hidden;
    overflow-y: scroll;
    border-right: 20px solid rgba(60, 60, 60);
    transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

/*Ocultar scroll para chrome, safari y opera*/
.menu__side::-webkit-scrollbar{
    display: none;
}

/*Ocultar scroll para IE, Edge y Firefox*/
.menu__side{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.support{
    display: flex;
    flex-direction: row;
    align-items: center;
    right: 50px;
    margin-left: 150px;
    justify-content: flex-end;
    cursor: pointer;
}
.support img{
    color: #fff;
    width: 50px;
    height: 50px;
    margin-left: 20%;
}
.cerrar_sesion{
    margin:0 20px 0 20px;
    font-size: 18px;
    color:#fff;
    margin-left: 530px;
    cursor: pointer;
}
.name__page{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.name__page h4{
    margin-right: 30px;
}
.name__page i{
    width: 20px;
    margin-right: 20px;
}

.options__menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.options__menu a{
    color: #ffffffb2;
    cursor: default;
    display: block;
    position: relative;
    transition: color 300ms;
}

.options__menu a:hover{
    color: white;
}

.options__menu .option{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.options__menu .option i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.options__menu .option h4{
    font-weight: 300;
    cursor: pointer;
}

a.selected{
    color: #fff;
}

.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

/*Clases para usar en JavaScript*/
.marca h1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
}

.marca h1 span {
    color: #3B8C6E;
}

.body_move{
    margin-left: 250px;
}

.menu__side_move{
    width: 250px;
}

#footerDos {
    text-align: center;
    align-items: center;
}



.social {
    display: flex;
    justify-content: center;
    
}
.social a {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3B8C6E;
    border-radius: 50%;
    margin: 5px 5px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover {
    transform: scale(1.3);
    transition: .3s;
}

.end {
    position: absolute;
    color: #3B8C6E;
    bottom: 35px;
    font-size: 14px;
}
.linksPie {
    color: white;
    display: inline-block;
    font-size: 15px;  /*Mueve el aviso legal------*/
    margin-right: 5px;
    margin-bottom: 15px;
}

#footer {
    background-image: linear-gradient(60deg, #0B2B40 0%, #164773 100%);
}

#footer .footer {
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 60px;
}

#footer h2 {
    color: white;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#footer h1 {
    font-size: 20px;
}


#footer .social-icon {
    display: flex;
    margin-bottom: 30px;
}

#footer .social-item {
    height: 50px;
    width: 50px;
    margin: 0 5px;
}

#footer .social-item img {
    filter: grayscale(1);
    transition: 0.3s ease filter;
}

#footer .social-item:hover img {
    filter: grayscale(0);
}

#footer p {
    color: white;
    font-size: 15px;
    text-align: center;
}
 /*--------------*/

.Contenedores{
    width: 1000px;
    height: 500px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-template-rows: repeat(2, auto);
}
.Contenedores div{
    padding: 5px;
    
}
.tuActividad{
    grid-row: span 2;
}
.dineroDisponible, .tarjetas, .tuActividad,.retiro{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #b6bcc0;
}
/*Retiro*/
.retiro1{
    width: 60%;
    margin: auto;
    height: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
    display: grid;
    gap: 70px;
    grid-template-columns: 1fr 1fr;
}
.transferir{
    width: 80%;
    margin: auto;
    height: 100%;
    margin-bottom: 50px;
    margin-left: 290px;
}
.retiroSinTarjeta p, .retiroConTarjeta p{
    padding: 5px 0 5px 0;
}
.ingreso, .concepto{
    outline: 0;
    border: none;
}
.ingreso{
   border-bottom: 1px solid #000;
   background-color: #b6bcc0;
   width: 100%;
}
.concepto{
    border-radius: 6px;
    position: relative;
    margin: 0 0 25px 0;
    height: 50px;
}
.btnContinuarRetiro{
    width: 35%;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    background-color: #6A747D;
    border: none;
    outline: none;
    
}
.retiroConTarjeta form, .retiroSinTarjeta form{
    background-color: #b6bcc0;
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.retiroConTarjeta form h3, .retiroSinTarjeta form h3{
    text-align: center;
    margin-bottom: 15px;
}
.importe_cuenta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.importe_cuenta p{
    margin-right: 5px;
    font-size: 20px;
}

.dinero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dinero i{
    margin-left: 5px;
}
.boton_personalizado{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.boton_personalizado a{
    text-align: center;
    color: #fff;
}

@media screen and (max-width: 760px){
    .body_move{
        margin-left: 0px;
    }

    .menu__side_move{
        width: 80px;
        left: -80px;
    }
    .Contenedores div{
        grid-column: span 2;
    }
    .Contenedores{
        width: 100%;
        height: 500px;
    }
    header a{
        left: 90px;
    }
    .retiro1{
        width: 100%;
    }
    .retiroSinTarjeta, .retiroConTarjeta{
        grid-column: span 2;
    }
    
     
}
